body {
    font-family: Arial;
    background: #f3f4f6;
    margin: 0;
}

.navbar {
    background: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.navbar a {
    text-decoration: none;
    color: white;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    transition: 0.2s;
}

.navbar a:hover {
    background: #555;
}

.navbar a.active {
    background: white;
    color: #333;
    font-weight: bold;
}

.container {
    width: 700px;
    max-width: 95%;
    margin: 40px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

.section {
    margin-top: 20px;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: #ff914d;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: scale(0.97);
}