body {
    font-family: Arial;
    background: #f3f4f6;
    margin: 0;
}

.container {
    width: 700px;
    max-width: 95%;
    margin: 40px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

.day {
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    border: none;
    background: #ff914d;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.btn:hover {
    opacity: 0.9;
}

.btn:active {
    transform: scale(0.97);
}